*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --primary-color: #c31815;
  --secondary-color: #fff;
  --text-color: #2a2a2a;
  --accent-color: #0e1e32;
  --main-background-color: #e5e5e5;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold-weight: 700;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 62.5%;
  background-color: var(--main-background-color);
}

.hidden {
  display: none;
}

.tag {
  color: var(--primary-color);
  font-weight: 700;
}

.section {
  padding: 2rem 9rem;
}

.breaking__news {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--primary-color);
}

.btn {
  background: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.breaking__news--btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.breaking__news--text {
  font-size: 1.2rem;
  color: var(--secondary-color);
}

@media screen and (max-width: 715px) {
  .btn {
    padding: 0.6rem;
  }

  .breaking__news--text {
    font-size: 0.8rem;
    color: var(--secondary-color);
  }

  .breaking__news {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 415px) {
}
